@import "/src/styles/variables";

.tag-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ff6060;
  color: white;
  border-radius: 10px;
  height: 25px;
  padding: 3px 20px;

  @media screen and (max-width: $breakpoint-phones) {
    height: 20px;
    padding: 1px 20px;
  }
}
