.tag-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ff6060;
  color: white;
  border-radius: 10px;
  width: auto;
  width: 115px;
  height: 25px;
}
