.collapse-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 0;
  padding: 0;
  color: #ff6060;
  border-radius: 10px;
  width: 100%;

  .header {
    background-color: #ff6060;
    color: white;
    display: flex;
    padding: 10px;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    cursor: pointer;
  }
  img {
    cursor: pointer;
  }
  .closedArrow {
    transform: rotate(0.5turn);
  }

  .content-container {
    background-color: #f6f6f6;
    border-radius: 10px;
  }
  .content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-self: start;
    margin: 20px;
  }

  .hide {
    display: none;
  }
}
