@import "/src/styles/variables";

.carousel-container {
  position: relative;
  width: 100%;
  height: 40vh;
  transition: transform 0.3s ease;

  .accomodation-picture {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
    border-radius: 12px;
  }

  .arrows-container {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    z-index: 1;
  }

  .arrow {
    width: 100px;
    height: 100px;
    margin: 20px 20px;
    cursor: pointer;

    @media screen and (max-width: $breakpoint-phones) {
      width: 34px;
      height: 34px;
      margin: 20px 20px;
      cursor: unset;
    }
  }

  .count {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    color: white;
  }
}
