@import "/src/styles/variables";

header {
  position: sticky;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 35px 100px;
  height: 68px;
  z-index: 100;
  top: 0;
  background-color: white;

  @media screen and (max-width: $breakpoint-phones) {
    padding: 20px;
  }

  nav {
    width: 40%;
    display: flex;
    justify-content: flex-end;
    flex: 1;
  }
  .link {
    border-bottom: 1px solid transparent;
    margin-left: 57px;

    @media screen and (max-width: $breakpoint-phones) {
      font-size: 12px;
      text-transform: uppercase;
    }
  }
  .activeLink {
    border-bottom: 1px solid $primary-color;
    margin-left: 57px;

    @media screen and (max-width: $breakpoint-phones) {
      font-size: 12px;
      text-transform: uppercase;
    }
  }

  img {
    @media screen and (max-width: $breakpoint-phones) {
      width: 145px;
      height: 65px;
    }
  }
}
