.container {
  margin: 45px 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  max-height: 800px;
  background-color: #f6f6f6;
  overflow: scroll;
  border-radius: 25px;
  padding: 45px 46px;
  gap: 60px;
  // @media (max-width: 768px) {
  //
  // }
  // @media (max-width: 576px) {
  //
  // }
}
