@import "/src/styles/variables";

.footer {
  position: sticky;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 10vh;
  background-color: black;
  z-index: 99;

  @media screen and (max-width: $breakpoint-phones) {
    padding: 20px 0;
    gap: 10px;
  }
  img {
    width: 100px;
    height: 40px;
  }

  h4 {
    color: white;
    @media screen and (max-width: $breakpoint-phones) {
      font-size: 12px;
      font-weight: lighter;
      width: 30%;
      text-align: center;
    }
  }
}
